.cabeçalho {
  background-color: var(--laranja);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-right: 10px;
}

.icons {
  display: flex;
  gap: 15px;
}

.icon {
  height: 30px;
  cursor: pointer;
}
