.cabeçalho {
  background-color: var(--laranja);
}

.cabeçalho__conteudo {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}

.icons {
}

.icon {
  height: 35px;
  width: 35px;
  margin-left: 12px;
  text-decoration: none;
}
